# Substep Analysis

All prior substeps are alledgedly available. I cannot seem to find them, and would like to demonstrate that.

By Default deepcopy and drop_substeps are set to false.

In [1]:
import setup

import copy
import logging
import numpy as np
from radcad import Engine

# import experiments.notebooks.visualizations as visualizations
from experiments.run import run
from model.types import Stage

In [2]:
# Enable/disable logging
logger = logging.getLogger()
logger.disabled = True

In [3]:
# Import experiment templates
from experiments.default_experiment import experiment, TIMESTEPS, DELTA_TIME

In [4]:
simulation = copy.deepcopy(experiment.simulations[0])
simulation.engine = Engine(deepcopy=False)
simulation.engine = Engine(drop_substeps=False)

In [5]:
simulation.timesteps = 4

In [6]:
df_1, exceptions = run(simulation)

# See Below

I loop through state history and
* record the highest timestep available
* record the highest substep at the highest timestep

In [7]:
df_1[['timestep', 'last_state_history_timestep', 'substep', 'last_state_history_substep']]

    timestep  last_state_history_timestep  substep  last_state_history_substep
1          1                          0.0        1                         0.0
2          1                          0.0        2                         0.0
3          1                          0.0        3                         0.0
4          1                          0.0        4                         0.0
5          1                          0.0        5                         0.0
6          2                          1.0        1                         5.0
7          2                          1.0        2                         5.0
8          2                          1.0        3                         5.0
9          2                          1.0        4                         5.0
10         2                          1.0        5                         5.0
11         3                          2.0        1                         5.0
12         3                          2.0        2                         5.0
13         3                          2.0        3                         5.0
14         3                          2.0        4                         5.0
15         3                          2.0        5                         5.0
16         4                          3.0        1                         5.0
17         4                          3.0        2                         5.0
18         4                          3.0        3                         5.0
19         4                          3.0        4                         5.0
20         4                          3.0        5                         5.0

### Notice how the last state history substep jumps to 5 at the start of timestep 1, and is consistently 5. This shows its not adapting to the current timestep, or the max of the max timestep would iterate

# Toggle drop_substps

In [8]:
simulation2 = copy.deepcopy(experiment.simulations[0])
simulation2.engine = Engine(deepcopy=False)
simulation2.engine = Engine(drop_substeps=True)

simulation2.timesteps = 4

In [9]:
df_2, exceptions = run(simulation2)

In [10]:
df_2[['timestep', 'last_state_history_timestep', 'substep', 'last_state_history_substep']]

   timestep  last_state_history_timestep  substep  last_state_history_substep
1         1                          0.0        5                         0.0
2         2                          1.0        5                         5.0
3         3                          2.0        5                         5.0
4         4                          3.0        5                         5.0

### Notice
here the substeps are dropped, but are still available in the state history. 
however they appear to have the same availability

# Toggle Deepcopy

In [11]:
simulation3 = copy.deepcopy(experiment.simulations[0])
simulation3.engine = Engine(deepcopy=True)
simulation3.engine = Engine(drop_substeps=False)
simulation3.timesteps = 4

In [12]:
df_3, exceptions = run(simulation3)

In [13]:
df_3[['timestep', 'last_state_history_timestep', 'substep', 'last_state_history_substep']]

    timestep  last_state_history_timestep  substep  last_state_history_substep
1          1                          0.0        1                         0.0
2          1                          0.0        2                         0.0
3          1                          0.0        3                         0.0
4          1                          0.0        4                         0.0
5          1                          0.0        5                         0.0
6          2                          1.0        1                         5.0
7          2                          1.0        2                         5.0
8          2                          1.0        3                         5.0
9          2                          1.0        4                         5.0
10         2                          1.0        5                         5.0
11         3                          2.0        1                         5.0
12         3                          2.0        2                         5.0
13         3                          2.0        3                         5.0
14         3                          2.0        4                         5.0
15         3                          2.0        5                         5.0
16         4                          3.0        1                         5.0
17         4                          3.0        2                         5.0
18         4                          3.0        3                         5.0
19         4                          3.0        4                         5.0
20         4                          3.0        5                         5.0

## Toggle Both

In [14]:
simulation4 = copy.deepcopy(experiment.simulations[0])
simulation4.engine = Engine(deepcopy=True)
simulation4.engine = Engine(drop_substeps=True)
simulation4.timesteps = 4

In [15]:
df_4, exceptions = run(simulation4)

In [16]:
df_4[['timestep', 'last_state_history_timestep', 'substep', 'last_state_history_substep']]

   timestep  last_state_history_timestep  substep  last_state_history_substep
1         1                          0.0        5                         0.0
2         2                          1.0        5                         5.0
3         3                          2.0        5                         5.0
4         4                          3.0        5                         5.0